{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
 <ol>
  {% for key, value in content  %}
    <li>{{ key }}</li>
    <ol>
       {% for key2, value2 in value  %}
         <li>{{ key2 }}</li>
       {% endfor %}
     </ol>
  {% endfor %}
</ol>
#}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
    'node--type-article-full',
  ]
%}

{{ attach_library('classy/node') }}

<article{{ attributes.addClass(classes) }}>
  <header>
    <h1 class="article__title">
      {{ label }}
    </h1>
    <div class="article__tags">
      {{ content.field_tags }}
    </div>
  </header>

  {% if content.field_tl_dr|render is not empty %}
    <div id="article__tldr" class="article__tldr">
      <div class="article__tldr-button">
        <button id="article__tldr button">
          <span>TL;DR</span><span class="article__tldr-star">*</span>
          <i class="fa fa-eye" aria-hidden="true"></i>
        </button>
      </div>
      <div class="article__tldr-legend">
        <span class="article__tldr-star">*</span> Ok! Show me the essential, I have no time right now! But I promised to come back later to read the whole article. Pinky Swear!
      </div>
      <div class="article__tldr-content">
        {{ content.field_tl_dr }}
      </div>
    </div>
  {% endif %}

  <!--itemprop="articleSection"-->

  <!--itemprop="image"-->
  
  {{ content.body }}
  
  <div{{ content_attributes.addClass('article__content', 'clearfix') }}>
    {{ content|without('field_tags')|without('field_comments')|without('addtoany')|without('field_tl_dr')|without('body')|without('field_pinterest') }}
  </div>

  <aside class="article__meta clearfix">
    <div class="article__meta__time">
      <span itemprop="datePublished" content="{{ node.getCreatedTime()|date("c") }}" property="schema:dateCreated" content="{{ node.getCreatedTime()|date("c") }}">
        {{ date }}
      </span>
      <span class="hidden" itemprop="dateModified" content="{{ node.getChangedTime()|date("c") }}" property="schema:dateCreated" content="{{ node.getChangedTime()|date("c") }}">
        {{ node.getChangedTime()|date("c") }}
      </span>
    </div>
    <div class="article__meta__share">
      {{ content.addtoany }}
    </div>
    <div class="article__meta__author">
      <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
        {{ author_name }}
      </span>
    </div>
    <div class="article__meta__publisher">
      <span class="publisher" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <span itemprop="name">TwoTravelTheWorld</span>
      </span>
    </div>
  </aside>

  <div class="article__pinterest clearfix">
    {{ content.field_pinterest }}
  </div>

  <div class="article__comments clearfix">
    {{ content.field_comments }}
  </div>

</article>