@import '../variables';

#block-copyright {
  @include container(94%);
  @include breakpoint($bp-tablet) {
    @include container(92%);
  }
  @include breakpoint($bp-desktop) {
    @include container(90%);
  }
}