@import '../variables';

.view-destination-country {
  clear: both;
  @include container(94%);
  margin-top: 2em;
  @include breakpoint($bp-tablet) {
    @include container(92%);
    margin-top: 3em;
  }
  @include breakpoint($bp-desktop) {
    @include container(90%);
    margin-top: 4em;
  }

  .views-view-table {
    @include span (5 of 15);

    @include breakpoint($bp-tablet) {
      @include span (3 of 15);
    }

    @include breakpoint($bp-desktop) {
      @include span (3 of 15);

      &:nth-child(5) {
        @include span (3 of 15 last);
      }
    }

    caption {
      color: $color-green;
      text-align: left;
      padding-bottom: 10px;
      font-size: 1.5em;
    }

    tbody {
      margin-bottom: 2em;
      display: block;
    }

    td {
      padding: 0
    }

    a {
      color: $color-black;
      &:hover {
        color: $color-green;
      }
    }
  }
}
