.gear--teaser {
  background-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: $color-white;
  display:inline-block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 2% 0;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
}

.gear--teaser * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.gear--teaser img {
  max-width: 100%;
  opacity: 0.75;
  position: relative;
  vertical-align: top;
}

.gear--teaser figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.gear--teaser h3 {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  background-color: $color-green;
  bottom: 0;
  font-weight: 800;
  letter-spacing: -0.4px;
  margin: 0;
  padding: 10px 20px;
  position: absolute;
  width: 100%;
  color: $color-white;
}

.gear--teaser p {
  padding: 0px 20px;
  opacity: 0;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.gear--teaser i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 54px;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.gear--teaser .hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: rgba(0, 131, 143, 0.75);
  display: flex;
  font-size: 65px;
  justify-content: center;
  opacity: 0;
}

.gear--teaser a {
  left: 0;
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.gear--teaser:hover .hover,
.gear--teaser.hover .hover {
  opacity: 1;
}

.gear--teaser:hover p,
.gear--teaser.hover p {
  opacity: 1;
}

.gear--teaser:hover h3,
.gear--teaser.hover h3 {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.gear--teaser:hover i,
.gear--teaser.hover i {
  -webkit-transform: translate(-50%, -50%) scale(0.1);
  transform: translate(-50%, -50%) scale(0.1);
  opacity: 0;
}
