.worldmap {
  cursor: pointer;

  rect {
    fill: $color-white;
  }

  *[cc] {
    fill: $color-white;
    stroke: $color-charcoal;
    stroke-width: 0.3px;
  }

  // clickable.

  // To be visited.
  *[cc='id'],
  *[cc='cr'],
  *[cc='kh'],
  *[cc='mm'],
  *[cc='ar'],
  *[cc='mg'],
  *[cc='nz'],
  *[cc='au'],
  *[cc='pe'],
  *[cc='cn'],
  *[cc='th'],
  *[cc='vn'],
  *[cc='in'],
  *[cc='za'],
  *[cc='br'],
  *[cc='co'],
  *[cc='mx'] {
    fill : $color-green;
  }

  // Visited.
}

.path-frontpage {
  .worldmap {
    *[cc='be'],
    *[cc='cz'],
    *[cc='gb'],
    *[cc='es'],
    *[cc='fr'],
    *[cc='it'],
    *[cc='pt'],
    *[cc='cu'],
    *[cc='us'],
    *[cc='dk'],
    *[cc='de'] {
      fill : $color-green-light;
    }
  }
}
