{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}

{% import _self as menus %}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
    <ul class="secondary-navigation__quicklink">
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
      <li{{ item.attributes }}>
        {{ link(item.title, item.url) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

<nav class="secondary-navigation">
  {{ menus.menu_links(items, attributes, 0) }}
  <ul class="secondary-navigation__social">
      <li>
        {% if current_language == 'fr' %}
          <a href="/" class="language">English</a>
        {% else %}
          <a href="/fr" class="language">Français</a>
        {% endif %}
      </li>
      <li>
        <a 
        class="icon-instagram" 
        social_network="instagram" 
        social_link="https://www.instagram.com/twotraveltheworld2017" 
        href="https://www.instagram.com/twotraveltheworld2017"
        target="_blank">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <span class="screen-reader-text">Instagram</span>
        </a>
      </li>
      <li>
        <a 
        class="icon-twitter" 
        social_network="twitter" 
        social_link="https://twitter.com/twotravelworld" 
        href="https://twitter.com/twotravelworld"
        target="_blank">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <span class="screen-reader-text">Twitter</span>
        </a>
      </li>
      <li>
        <a 
        class="icon-facebook" 
        social_network="facebook" 
        social_link="https://www.facebook.com/twotraveltheworld" 
        href="https://www.facebook.com/twotraveltheworld"
        target="_blank">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <span class="screen-reader-text">Facebook</span>
        </a>
      </li>
      <li>
        <a 
        class="icon-pinterest" 
        social_network="pinterest" 
        social_link="https://uk.pinterest.com/twotraveltheworld" 
        href="https://uk.pinterest.com/twotraveltheworld"
        target="_blank">
          <i class="fa fa-pinterest" aria-hidden="true"></i>
          <span class="screen-reader-text">Pinterest</span>
        </a>
      </li>
      <li>
        <a 
        class="icon-pinterest" 
        social_network="pinterest" 
        social_link="https://www.youtube.com/channel/UCPzPOyWi1pou7a0vSldVoQw" 
        href="https://www.youtube.com/channel/UCPzPOyWi1pou7a0vSldVoQw"
        target="_blank">
          <i class="fa fa-youtube" aria-hidden="true"></i>
          <span class="screen-reader-text">YouTube</span>
        </a>
      </li>
      <li>
        <a 
        class="icon-rss" 
        social_network="rss" 
        href="/rss.xml">
          <i class="fa fa-rss" aria-hidden="true"></i>
          <span class="screen-reader-text">RSS</span>
        </a>
      </li>
    </ul>
</nav>