<!-- page front -->
<div itemscope itemtype="http://schema.org/Article" class="layout-container">

  <!--header role="banner">
    {{ page.header }}
  </header-->

  {{ page.primary_menu }}

  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  <div class="highlighted pinterest_nohover">
    {{ page.highlighted }}
  </div>

  {{ page.help }}

  <main id="main" role="main" {% if page.sidebar_first %} class="one_sidebar"{% endif %}>
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
        {# http://littlesnippets.net/snip1578/ #}
      </aside>
    {% endif %}

  </main>

  {% if page.featured_bottom %}
  <aside role="complementary">
    <div class="featured-bottom">
        {{ page.featured_bottom }}
    </div>
  </aside>
  {% endif %}

  <footer role="contentinfo">
    <div class="footer__top">
      <div class="footer__top-first">
        {{ page.footer_first }}
      </div>
      <div class="footer__top-second">
        {{ page.footer_second }}
      </div>
      <div class="footer__top-third">
        {{ page.footer_third }}
      </div>
    </div>
    <div class="footer__bottom">
      {{ page.footer }}
    </div>
  </footer>

  <!--<meta itemprop="url" content="https://www.twotraveltheworld.com/articles/10-magical-harry-potter-experiences-london"></div>-->

</div>{# /.layout-container #}
