<!-- page front -->
<div class="layout-container">

  <!--header role="banner">
    {{ page.header }}
  </header-->

  <nav class='navigation'>
    {{ page.primary_menu }}
  </nav>

  {{ page.breadcrumb }}

  <div class="highlighted pinterest_nohover">
    {{ page.highlighted }}
  </div>

  <div class="precontent pinterest_nohover">
    {{ page.precontent }}
  </div>

  {{ page.help }}

  <main id="main" role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">

      {{ page.content }}

    </div>{# /.layout-content #}

  </main>

  <!-- http://s.codepen.io/littlesnippets/fullembedgrid/jryzpJ?type=embed&animations=run# -->

  {% if page.featured_bottom %}
  <aside role="complementary">
    <div class="featured-bottom">
        {{ page.featured_bottom }}
    </div>
  </aside>
  {% endif %}

  <footer role="contentinfo">
    <div class="footer__top">
      <div class="footer__top-first">
        {{ page.footer_first }}
      </div>
      <div class="footer__top-second">
        {{ page.footer_second }}
      </div>
      <div class="footer__top-third">
        {{ page.footer_third }}
      </div>
    </div>
    <div class="footer__bottom">
      {{ page.footer }}
    </div>
  </footer>

</div>{# /.layout-container #}
