<!-- page taxonomy -->
<div class="layout-container">

  {{ page.primary_menu }}
  
  {{ page.highlighted }}

  <main id="country" role="main" class="country">
    {{ page.content }}
  </main>

  <footer role="contentinfo">
    <div class="footer__top">
      <div class="footer__top-first">
        {{ page.footer_first }}
      </div>
      <div class="footer__top-second">
        {{ page.footer_second }}
      </div>
      <div class="footer__top-third">
        {{ page.footer_third }}
      </div>
    </div>
    <div class="footer__bottom">
      {{ page.footer }}
    </div>
  </footer>

</div>