.featured-bottom {
  padding-bottom: 1em;
  @include container(94%);
  @include breakpoint($bp-tablet) {
    @include container(92%);
    padding-bottom: 2em;
  }
  @include breakpoint($bp-desktop) {
    @include container(90%);
    padding-bottom: 4em;
  }
}