.precontent {
  padding: 1em 0;
  @include container(94%);
  @include breakpoint($bp-tablet) {
    @include container(92%);
    padding: 2em 0;
  }
  @include breakpoint($bp-desktop) {
    @include container(90%);
    padding: 4em 0;
  }

  .worldmap,
  .block-logo {
    @include span (15 of 15);

    @include breakpoint($bp-desktop) {
      @include span (10 of 15);
    }
  }

  .block-social-links-short,
  .block-about-us {
    @include span (15 of 15);

    @include breakpoint($bp-desktop) {
      @include span (5 of 15 last);
    }
  }
}
