.mailchimp-signup {
  text-align: center;
  @include container(100%);

  .js-form-item {
    @include span (15 of 15);

    @include breakpoint($bp-tablet) {
      @include span (5 of 15);
    }

    @include breakpoint($bp-desktop) {
      @include span (5 of 15);
    }
  }

  .form-item-mergevars-fname {

  }

  .form-item-mergevars-fname {

  }
}