@import '../variables';

.relevant-blog {

  .relevant-blog__title {
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    font-family: $alternative-font-family;

    @include breakpoint($bp-tablet) {
      font-size: 1.5em;
    }

    @include breakpoint($bp-desktop) {
      font-size: 2em;
    }
    
    &:before {
      content: "";
      display: block;
      border-top: solid 1px $color-purple;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      z-index: 1;
    }

    span {
      background: $color-white;
      padding: 0 24px;
      position: relative;
      z-index: 5;
    }
  }

  .relevant-blog__content {

    @include breakpoint($bp-tablet) {
    }

    @include breakpoint($bp-desktop) {
    }
  }
}
