.node--type-article-full {
  clear: both;
  @include container(94%);
  margin-top: 2em;
  @include breakpoint($bp-tablet) {
    @include container(92%);
    margin-top: 3em;
  }
  @include breakpoint($bp-desktop) {
    @include container(90%);
    margin-top: 4em;
  }

  .article__title {
    border-top: 1px solid $color-purple;
    margin-top: 20px;
    display: inline-block;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0 0 0;
    width: 100%;

    @include breakpoint($bp-tablet) {
      margin-top: 30px;
    }

    @include breakpoint($bp-desktop) {
      margin-top: 36px;
    }
  }

  .article__tags {
    text-align: center;
    margin-bottom: 20px;

    span{
      letter-spacing: 1.5px;
      line-height: 1em;
      text-transform: uppercase;
      margin: 0.5em 0.6em;
      padding: 2px 15px;
      position: relative;

      a {
        color: $color-green;
        text-decoration: none;
      }
    }

    span:before,
    span:after {
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
      height: 2px;
      width: 35%;
      background-color: #528cb3;
      position: absolute;
      content: '';
      opacity: 0;
    }

    span:before {
      top: 0;
      left: 0;
    }

    span:after {
      bottom: 0;
      right: 0;
    }

    span:hover:before,
    span.hover:before,
    span:hover:after,
    span.hover:after {
      opacity: 1;
    }

    span:hover:before,
    span.hover:before {
      left: 65%;
    }
    span:hover:after,
    span.hover:after {
      right: 65%;
    }
  }

  .article__tldr {
    padding: 5px;

    .article__tldr-intro {
    }

    .article__tldr-button {
      text-align: center;
    }

    .article__tldr-legend {
      font-size: 10px;
    }

    .article__tldr-content {
      display: none;
    }

    &.open {
      border: 1px $color-purple solid;
 
      .article__tldr-content {
        display: block;
      }

      .article__tldr-intro {
        display: none;
      }

      .article__tldr-button {
        display: none;
      }

      .article__tldr-legend {
        display: none;
      }
    }

    button {
      font-family: 'Raleway', Arial, sans-serif;
      border: none;
      background-color: $color-purple;
      border-radius: 5px;
      color: $color-white;
      cursor: pointer;
      padding: 10px 40px;
      display: inline-block;
      margin: 15px 30px;
      text-transform: uppercase;
      line-height: 1.5em;
      font-weight: 500;
      font-size: 1em;
      outline: none;
      position: relative;
      opacity: 1;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    button span {
      display: inline-block;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      opacity: 0.8;
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;
    }
    button i {
      font-size: 28px;
      text-align: center;
      width: 100%;
      top: 50%;
      left: 0;
      display: block;
      position: absolute;
      opacity: 0;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      color: $color-purple;
    }
    button:before {
      border-radius: 3px;
      content: '';
      top: 3px;
      bottom: 3px;
      left: 50%;
      right: 50%;
      position: absolute;
      background: rgba(255, 255, 255, 0);
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transition-delay: 0.15s;
      transition-delay: 0.15s;
    }
    button:hover,
    button.hover {
      color: $color-green;
    }
    button:hover span,
    button.hover span {
      opacity: 0;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    button:hover i,
    button.hover i {
      opacity: 1;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    button:hover:before,
    button.hover:before {
      left: 3px;
      right: 3px;
      background: #ffffff;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    button:active:before {
      background: rgba(255, 255, 255, 0.7);
    }

    .article__tldr-star {
      color: $color-green;
    }
  }

  .article__content {
    a {
      color: $color-purple;
    }

    ul {
      li {
        padding: 5px 0;
      }
    }

    .field--name-field-field-vertical-images {
      .field__item {
        margin-bottom: 1em;
      }
      @include breakpoint($bp-tablet) {
        .field__item {
          margin-bottom: 1em;
          &:nth-child(1) {
            @include span (7.5 of 15);
          }
          &:nth-child(2) {
            @include span (7.5 of 15 last);
          }
        }
      }
    }
  }

  .article__meta {
    border-top: 1px solid $color-grey;
    border-bottom: 1px solid $color-grey;
    margin: 20px;
    @include container(94%);
    
    .article__meta__time {
      @include span (15 of 15);
      text-align: center;

      span {
        padding: 10px;
        display: block;
      }

      .hidden {
        display: none;
      }

      @include breakpoint($bp-tablet) {
        @include span (5 of 15);

        span {
          padding: 20px;
          display: block;
          color: $color-purple;
        }
      }
    }

    .article__meta__share {
      @include span (15 of 15);
      text-align: center;

      a {
        padding: 10px;
        display: inline-block;
      }

      @include breakpoint($bp-tablet) {
        @include span (5 of 15);
      }
    }

    .article__meta__author {
      @include span (15 of 15);
      text-align: center;

      span {
        padding: 10px;
        display: block;
        color: $color-purple;
      }

      @include breakpoint($bp-tablet) {
        @include span (5 of 15 last);
      }
    }

    .article__meta__publisher {
      display: none;
    }
  }

  .article__pinterest {
    .field__item {
      @include span (15 of 15);

      @include breakpoint($bp-desktop) {
        &:nth-child(1n) {
          @include span (7.5 of 15);
        }

        &:nth-child(2n) {
          @include span (7.5 of 15 last);
        }
      }
    }
  }
  
}
