.node--type-page {

  a {
    color: $color-purple;
  }

  .field--name-body {
    @include container(94%);
    margin-top: 2em;
    @include breakpoint($bp-tablet) {
      @include container(92%);
      margin-top: 3em;
    }
    @include breakpoint($bp-desktop) {
      @include container(90%);
      margin-top: 4em;
    }
  }

  .resources {
    @include container(100%);
  
    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;
      }
    }
  
    &__title {
      color: $color-green;
      position: relative;
      margin: auto;
      text-align: center;
      font-family: $alternative-font-family;
      font-size: 1.5rem;
      line-height: 2rem;
  
      @include breakpoint($bp-tablet) {
        font-size: 2rem;
        line-height: 3rem;
      }
      
      @include breakpoint($bp-desktop) {
        font-size: 3rem;
        line-height: 4rem;
      }
  
      &:before {
        content: "";
        display: block;
        border-top: solid 1px $color-purple;
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50%;
        z-index: 1;
      }
  
      span {
        background: $color-white;
        padding: 0 24px;
        position: relative;
        z-index: 5;
      }
    }
  }
  
  .resource {
    list-style-type: none;
  
    @include breakpoint($bp-tablet) {
      &:nth-child(1) {
        @include span (5 of 15);
      }
      &:nth-child(2) {
        @include span (5 of 15);
      }
      &:nth-child(3) {
        @include span (5 of 15 last);
      }
    }
  
    &__intro {
      background: $color-grey;
      padding: 10px;
    }
  }
}
  