.node--type-city-full {
  clear: both;
  @include container(94%);
  margin-top: 2em;
  @include breakpoint($bp-tablet) {
    @include container(92%);
    margin-top: 3em;
  }
  @include breakpoint($bp-desktop) {
    @include container(90%);
    margin-top: 4em;
  }

  .city__title {
    border-top: 1px solid $color-purple;
    margin-top: 20px;
    display: inline-block;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0 0 0;
    width: 100%;
    font-family: $alternative-font-family;
    
    @include breakpoint($bp-tablet) {
      margin-top: 30px;
    }

    @include breakpoint($bp-desktop) {
      margin-top: 36px;
    }
  }

  .city__country {
    text-align: center;
    margin: 0 0 8px 0;
    
    @include breakpoint($bp-tablet) {
      margin: 0 0 18px 0;
    }

    @include breakpoint($bp-desktop) {
      margin: 0 0 24px 0;
    }

    a {
      color: $color-purple;
      font-size: 18px;
    }
  }

  .city__content {
    a {
      color: $color-purple;
    }

    ul {
      li {
        padding: 5px 0;
      }
    }
  }
}
