@import '../../variables';

.country {

  .country__header {
    -ms-flex-align: center;
    align-items: center;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    width: auto;
    z-index: 10;
    height: 100px;

    @include breakpoint($bp-tablet) {
      height: 200px;
    }

    @include breakpoint($bp-desktop) {
      height: 400px;
    }

    .country__text {
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      position: relative;
      text-align: center;
      width: 100%;

      span {
        line-height: 2rem;

        @include breakpoint($bp-tablet) {
          font-size: 2em;
          line-height: 4rem;
        }

        @include breakpoint($bp-tablet) {
          font-size: 2.5em;
          line-height: 8rem;
        }
      }

      h1 {
        color: $color-white;
        margin: 0;
        font-size: 2em;

        @include breakpoint($bp-tablet) {
          font-size: 4em;
        }

        @include breakpoint($bp-desktop) {
          font-size: 6em;
        }
      }
    }

    a {
      color: $color-green;
    }
  }

  .country__list {
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 1em;
    margin: 15px 40px;
    text-transform: uppercase;
    text-align: center;

    li {
      display: inline-block;
      list-style: outside none none;
      margin: 0.5em 0.6em;
      padding: 12px 15px;
      position: relative;
    }

    li a {
      color: $color-green;
      text-decoration: none;
    }

    li:before,
    li:after {
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
      height: 2px;
      width: 35%;
      background-color: #528cb3;
      position: absolute;
      content: '';
      opacity: 0;
    }

    li:before {
      top: 0;
      left: 0;
    }

    li:after {
      bottom: 0;
      right: 0;
    }

    li:hover:before,
    li.hover:before,
    li:hover:after,
    li.hover:after {
      opacity: 1;
    }

    li:hover:before,
    li.hover:before {
      left: 65%;
    }
    li:hover:after,
    li.hover:after {
      right: 65%;
    }  
  }

  .country__segment {
    @include container(94%);

    @include breakpoint($bp-tablet) {
      @include container(92%);
    }

    @include breakpoint($bp-desktop) {
      @include container(90%);
    }

    h2 {
      color: $color-green;
      position: relative;
      margin: auto;
      text-align: center;
      font-family: $alternative-font-family;
      font-size: 1.5rem;
      line-height: 2rem;
      padding: .5em 0;
  
      @include breakpoint($bp-tablet) {
        font-size: 2rem;
        line-height: 3rem;
        padding: 1em 0;
      }
      
      @include breakpoint($bp-desktop) {
        font-size: 3rem;
        line-height: 4rem;
      }
  
      &:before {
        content: "";
        display: block;
        border-top: solid 1px $color-purple;
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50%;
        z-index: 1;
      }
  
      span {
        background: $color-white;
        padding: 0 24px;
        position: relative;
        z-index: 5;
      }
    }
  }

  .country__segment--guide {
    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        font-size: 1.1rem;
        padding-bottom: 10px;

        i {
          color: $color-green;
        }
      }
    }
  }

  .country__segment--climate {
    overflow-x: auto;
  
    table {
      width: 100%;
      max-width: 100%;
      border-collapse: collapse;
    }
  
    thead {
      font-weight: 700;
      tr:first-of-type {
        background: $color-green;
        color: #fff;
        th {
          padding: 4px;
          text-align: center;
          border-width: 1px 0;
        }
      }
      strong {
        color: $color-white;
      }
    }
  
    tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;
        tr:nth-of-type(2n) {
        background: $color-grey;
      }
    }
  
    td {
      span {
        display: block;
      }
    }
  }
}
