.node--diary-full {
  clear: both;
  @include container(94%);
  margin-top: 2em;
  @include breakpoint($bp-tablet) {
    @include container(92%);
    margin-top: 3em;
  }
  @include breakpoint($bp-desktop) {
    @include container(90%);
    margin-top: 4em;
  }

  .article__title {
    border-top: 1px solid $color-purple;
    margin-top: 20px;
    display: inline-block;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0 0 0;
    width: 100%;

    @include breakpoint($bp-tablet) {
      margin-top: 30px;
    }

    @include breakpoint($bp-desktop) {
      margin-top: 36px;
    }
  }

  .article__date {
    text-align: center;
  }

  .article__content {
    a {
      color: $color-purple;
    }

    ul {
      li {
        padding: 5px 0;
      }
    }

    .field--name-field-field-vertical-images {
      .field__item {
        margin-bottom: 1em;
      }
      @include breakpoint($bp-tablet) {
        .field__item {
          margin-bottom: 1em;
          &:nth-child(1) {
            @include span (7.5 of 15);
          }
          &:nth-child(2) {
            @include span (7.5 of 15 last);
          }
        }
      }
    }
  }

  .article__navigation {
    margin-top: 1em;

    @include breakpoint($bp-tablet) {
      margin-top: 2em;
    }

    @include breakpoint($bp-desktop) {
      margin-top: 3em;
    }

    a {
      color: $color-green;
      cursor: pointer;
      padding: 0px 40px;
      display: inline-block;
      text-transform: uppercase;
      line-height: 2.7em;
      letter-spacing: 1.5px;
      font-size: 1em;
      outline: none;
      position: relative;
      font-size: 16px;
      border: 3px solid $color-green;
      background-color: transparent;
      border-radius: 15px 15px 0;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }

    .snip1505:before {
      content: "";
      position: absolute;
      left: -3px;
      top: -3px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 35px 35px 0 0;
      border-color: $color-purple transparent transparent transparent;
      z-index: 1;
    }
    .snip1505:hover,
    .snip1505.hover {
      border-color: $color-purple;
    }

    .snip1544:before {
      content: "";
      position: absolute;
      right: -3px;
      bottom: -3px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 35px 35px;
      border-color: transparent transparent $color-purple transparent;
      z-index: 1;
    }
    
    .snip1544:hover,
    .snip1544.hover {
      border-color: $color-purple;
    }

    .article__navigation-previous-day {
      @include span (7.5 of 15);
      text-align: left;
    }
    .article__navigation-next-day {
      @include span (7.5 of 15 last);
      text-align: right;
    }
  }

  .article__review-container {
    position: relative;

    .article__review {
      padding-left: 1em;
  
      @include breakpoint($bp-tablet) {
        padding-left: 2em;
      }
  
      @include breakpoint($bp-desktop) {
        padding-left: 3em;
      }

      h2 {
        font-family: $alternative-font-family;
      }
  
      &--category {
        position: absolute;
        width: 10px;
        height: 10px;
        top: 0;
        left: 0;
        font-size: 2em;
      }

      &--hotel {
        &:before {
          content: "\f236";
        }
      }

      &--restaurant {
        &:before {
          content: "\f0f5";
        }
      }
    }
  }
}
