.kidsdoc {
  clear: both;
  @include container(94%);
  margin-top: 2em;
  @include breakpoint($bp-tablet) {
    @include container(92%);
    margin-top: 3em;
  }
  @include breakpoint($bp-desktop) {
    @include container(90%);
    margin-top: 4em;
  }

  .kidsdoc__kid {
    margin-top: 1em;
    margin-bottom: 1em;

    @include breakpoint($bp-tablet) {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    @include breakpoint($bp-desktop) {
      margin-top: 3em;
      margin-bottom: 3em;
    }
  }

  .kidsdoc__title {
    font-family: $kidsdoc-font-family;
    font-size: 3rem;
    
    @include span (15 of 15 last);
    
    @include breakpoint($bp-tablet) {
      @include span (7.5 of 15);
    }
  }

  .kidsdoc__text-kid {
    @include span (15 of 15 last);
    
    @include breakpoint($bp-tablet) {
      @include span (7.5 of 15);
    }

    p {
      line-height: 125%;
      font-family: $kidsdoc-font-family;
      font-size: 2rem;
    }
  }

  .kidsdoc__speech-bubble {
    @include span (15 of 15 last);
    margin-bottom: 2em;
    
    @include breakpoint($bp-tablet) {
      margin-top: 2em;
      @include span (7.5 of 15 last);
    }

    position: relative;
    background: $color-purple;
    border-radius: .4em;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 30%;
      width: 0;
      height: 0;
      border: 40px solid transparent;
      border-top-color: $color-purple;
      border-bottom: 0;
      border-left: 0;
      margin-left: -10px;
      margin-bottom: -40px;
    }

    .field {
      padding: 30px 10px;
      line-height: 125%;
      font-family: $kidsdoc-font-family;
      font-size: 2rem;
    }
  }
  
  .kidsdoc__image {
    @include span (15 of 15 last);

    @include breakpoint($bp-tablet) {
      margin-top: 4em;
      @include span (7.5 of 15 last);
    }

    img {
      border-radius: 25px;
    }
  }

  .kidsdoc__gallery {
    border-top: 1px solid $color-grey;
    border-bottom: 1px solid $color-grey;

    img:nth-child(1) {
      @include span (5 of 15);
    }

    img:nth-child(2) {
      @include span (5 of 15);
    }

    img:nth-child(3) {
      @include span (5 of 15 last);
    }
  }

  .kidsdoc__teacher {
    background-color: $color-grey;
    margin-top: 1em;

    @include breakpoint($bp-tablet) {
      margin-top: 2em;
    }

    h2 {
      color: $color-green;
      font-family: $alternative-font-family;
      font-size: 2.5rem;
      padding: 30px 0 20px 10px;
    }
  }

  .kidsdoc__pdf-image {
    @include span (15 of 15 last);
    
    @include breakpoint($bp-tablet) {
      @include span (5 of 15);
    }
  }

  .kidsdoc__text-teacher {
    p {
      font-size: 1.5rem;
      line-height: 125%;
      padding: 5px;
    }

    @include span (15 of 15 last);
    
    @include breakpoint($bp-tablet) {
      @include span (10 of 15 last);
    }
  }

  .snip1564 {
    background-color: #ffffff;
    border: none;
    border-bottom: 6px solid #029ebe;
    border-top: 6px solid #029ebe;
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 46px;
    letter-spacing: 3px;
    line-height: 34px;
    margin: 15px 40px;
    outline: none;
    padding: 0 10px;
    position: relative;
    text-transform: uppercase;
  }
  
  .snip1564:before,
  .snip1564:after {
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #ffffff;
    border-radius: 50%;
    top: -6px;
    content: "";
    height: 46px;
    position: absolute;
    width: 46px;
    border: 6px solid #ddd;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
  }
  
  .snip1564:before {
    right: -23px;
    border-left-color: #029ebe;
    border-bottom-color: #029ebe;
  }
  
  .snip1564:after {
    left: -23px;
    border-right-color: #029ebe;
    border-top-color: #029ebe;
  }
  
  .snip1564:hover,
  .snip1564.hover {
    background-color: #ffffff;
  }
  
  .snip1564:hover:before,
  .snip1564.hover:before,
  .snip1564:hover:after,
  .snip1564.hover:after {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }

}
