<div class="block-blogs-homepage">
  <h2 class="block-blogs-homepage__title"><span>{{ 'Our blog'|t }}</span></h2>
  <div class="block-blogs-homepage__content">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
