<div class="block-mainsections pinterest_nohover">
  <ul>
    <li>
      <a href='/destinations'>
        <img src="/themes/contrib/prius/src/assets/block-mainsections/twotraveltheworld-travel-destinations-section.jpg?hash=3" alt="twotraveltheworld travel destinations" />
      </a>
    </li>
    <li>
      <a href='/resources'>
        <img src="themes/contrib/prius/src/assets/block-mainsections/twotraveltheworld-travel-resources-section.jpg?hash=3" alt="twotraveltheworld travel resources" />
      </a>
    </li>
    <li>
      <a href='/diaries'>
        <img src="themes/contrib/prius/src/assets/block-mainsections/twotraveltheworld-travel-diaries-section.jpg?hash=3" alt="twotraveltheworld travel diaries" />
      </a>
    </li>
    <li>
      <a href='/blogs'>
        <img src="themes/contrib/prius/src/assets/block-mainsections/twotraveltheworld-travel-blog-section.jpg?hash=3" alt="twotraveltheworld travel blog" />
      </a>
    </li>
    <li>
      <a href='/travel-photography'>
        <img src="themes/contrib/prius/src/assets/block-mainsections/twotraveltheworld-travel-photography-section.jpg?hash=3" alt="twotraveltheworld travel photography" />
      </a>
    </li>
    <li>
      <a href='/kids-section'>
        <img src="themes/contrib/prius/src/assets/block-mainsections/twotraveltheworld-kids-section.jpg?hash=3" alt="twotraveltheworld kids section" />
      </a>
    </li>
  </ul>
</div>
