<div class="block-mainsections pinterest_nohover">
  <ul>
    <li>
      <a href='/fr/destinations'>
        <img src="/themes/contrib/prius/src/assets/block-mainsections/twotraveltheworld-travel-destinations-section-fr.jpg?hash=3" alt="twotraveltheworld voyage destinations" />
      </a>
    </li>
    <li>
      <a href='/fr/resources'>
        <img src="/themes/contrib/prius/src/assets/block-mainsections/twotraveltheworld-travel-resources-section-fr.jpg?hash=3" alt="twotraveltheworld voyage ressources" />
      </a>
    </li>
    <li>
      <a href='/fr/diaries'>
        <img src="/themes/contrib/prius/src/assets/block-mainsections/twotraveltheworld-travel-diaries-section-fr.jpg?hash=3" alt="twotraveltheworld journal de bord" />
      </a>
    </li>
    <li>
      <a href='/fr/blogs'>
        <img src="/themes/contrib/prius/src/assets/block-mainsections/twotraveltheworld-travel-blog-section-fr.jpg?hash=3" alt="twotraveltheworld travel blog" />
      </a>
    </li>
    <li>
      <a href='/fr/photo-voyages'>
        <img src="/themes/contrib/prius/src/assets/block-mainsections/twotraveltheworld-travel-photography-section-fr.jpg?hash=3" alt="twotraveltheworld photos" />
      </a>
    </li>
    <li>
      <a href='/fr/jeunes-lecteurs-section'>
        <img src="/themes/contrib/prius/src/assets/block-mainsections/twotraveltheworld-kids-section-fr.jpg?hash=3" alt="twotraveltheworld section jeunes lecteurs" />
      </a>
    </li>
  </ul>
</div>
