<div class="block-social-links">
  <h2 class="block-social-links__title"><span>{{ 'Follow Us'|t }}</span></h2>
  <div class="block-social-links__content">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>