<div class="block-diaries-homepage">
  <h2 class="block-diaries-homepage__title"><span>{{ 'Our Diaries'|t }}</span></h2>
  <div class="block-diaries-homepage__content">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
