<div class="block-social-links-short">
  <h2 class="block-social-links-short__title"><span>{{ 'Follow Us'|t }}</span></h2>
  <div class="block-social-links-short__content">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>