{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - current_language: current_language.
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'worldmap',
    'worldmap-' ~ current_language|clean_class,
  ]
%}

<div id=worldmap-{{current_language}} {{ attributes.addClass(classes) }}>
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
