<div class="block-blogs-blog">
  <h2 class="block-blogs-blog__title"><span>{{ 'Latest on the blog'|t }}</span></h2>
  <div class="block-blogs-blog__content">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
