<div id="block-latestpins" class="block-latestpins">
  <h2 class="block-latestpins__title"><span>{{ 'Latest pins'|t }}</span></h2>
  <div class="block-latestpins__content">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>