<div class="blogs-by-country">
  <h2 class="blogs-by-country__title"><span>{{ 'You Might Also Like'|t }}</span></h2>
  <div class="blogs-by-country__content">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
