<div class="blogs-all">
  <h2 class="blogs-all__title"><span>{{ 'Travel Destinations'|t }}</span></h2>
  <div class="blogs-all__content">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>