<div class="mailchimp-signup">
  <h5 class="post-footer-optin" style="margin-bottom: 20px;">
    Join our amazing subscribers for <span>exclusive access</span> to the <span>free library</span> of guides, worksheets + behind-the-scenes for solopreneurs!
  </h5>
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
