<div class="relevant-blog">
  <h2 class="relevant-blog__title"><span>{{ 'You Might Also Like'|t }}</span></h2>
  <div class="relevant-blog__content">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>