<div id="block-logo" class="block-logo">
  <div class="block-logo__logo">
    <div class="drawing pinterest_nohover">
    <img class="drawing-illustration hide" src="themes/contrib/prius/src/assets/logos/logo-100-100.svg" alt="" />
    <svg class="drawing-line show" id="css3" width="100%" height="200" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
    <path fill="none" stroke="#056165" stroke-width="0.25" stroke-miterlimit="10" d="M30.429,69.643l1.187,0.559
			c0.074-0.04,0.099-0.133,0.059-0.201l-0.705-1.27c0.103-0.187,0.485-0.725,1.412-0.356c0.059,0.024,0.128,0.008,0.169-0.042
			c0.042-0.048,0.045-0.117,0.014-0.172c-0.026-0.043-0.625-0.997-1.801-1.076c0.007-0.061,0.013-0.125,0.018-0.188
			c0.812-0.597,2.233-1.445,3.497-1.217c0.06,0.012,0.118-0.014,0.15-0.062c0.033-0.051,0.034-0.114,0-0.164
			c-0.022-0.035-0.568-0.854-1.614-1.445c-0.221-0.124-0.475-0.246-0.759-0.342c0.189-0.257,0.362-0.521,0.515-0.797
			c0.555-0.999,0.864-2.104,0.912-3.283c0.083-2.002-0.598-3.502-0.627-3.562c-0.025-0.059-0.081-0.092-0.142-0.088
			c-0.06,0.004-0.113,0.041-0.134,0.1c-0.305,0.863-1.096,1.643-2.019,2.299c0-0.002,0-0.004,0-0.006
			c0.06-1.428-0.427-2.499-0.449-2.542c-0.024-0.056-0.08-0.089-0.139-0.087c-0.061,0-0.112,0.039-0.132,0.093
			c-0.396,1-1.377,1.744-2.317,2.257c-0.046-0.762-0.364-1.46-0.591-1.867c-0.156-0.281-0.283-0.453-0.288-0.457
			c-0.033-0.045-0.086-0.065-0.142-0.061c-0.054,0.008-0.1,0.045-0.118,0.095c-0.565,1.519-1.19,2.009-1.432,2.146l-0.838-1.51
			c-0.04-0.07-0.131-0.098-0.202-0.058l-0.923,0.582l0.017,0.065c-0.594-2.248-0.91-4.604-0.91-7.035
			c0-1.402,0.104-2.779,0.307-4.124l0.827,1.036l-0.494,0.728c-0.046,0.068-0.029,0.161,0.041,0.206l0.452,0.307
			c0.07,0.046,0.163,0.027,0.208-0.04l1.495-2.205l1.383,0.935l-0.401,0.592c-0.045,0.068-0.028,0.162,0.04,0.207l0.455,0.306
			c0.067,0.047,0.159,0.028,0.206-0.039l1.362-2.009l1.383,0.935l-0.315,0.464c-0.046,0.069-0.027,0.161,0.041,0.207l0.453,0.307
			c0.068,0.047,0.16,0.028,0.208-0.039l0.578-0.853l1.383,0.936l-0.291,0.429c-0.045,0.068-0.026,0.162,0.04,0.207l0.454,0.306
			c0.066,0.047,0.161,0.028,0.207-0.039l1.003-1.479l1.384,0.935l-0.226,0.333c-0.047,0.068-0.028,0.161,0.04,0.207l0.453,0.306
			c0.066,0.046,0.161,0.028,0.208-0.039l1.47-2.169l1.381,0.936l-0.112,0.166c-0.047,0.067-0.028,0.161,0.039,0.207l0.455,0.306
			c0.067,0.046,0.162,0.028,0.208-0.04l0.548-0.809c0.423,0.198,0.941,0.066,1.211-0.332l2.549-3.757
			c0.271-0.398,0.201-0.928-0.142-1.247l0.55-0.809c0.046-0.068,0.027-0.161-0.041-0.207l-0.453-0.306
			c-0.069-0.047-0.162-0.028-0.208,0.039l-0.112,0.167l-1.382-0.935l1.47-2.169c0.047-0.069,0.029-0.162-0.039-0.208l-0.453-0.306
			c-0.068-0.045-0.16-0.028-0.207,0.041l-0.227,0.333l-1.382-0.935l1.002-1.481c0.047-0.069,0.03-0.161-0.039-0.208l-0.453-0.306
			c-0.068-0.046-0.161-0.028-0.208,0.039l-0.291,0.429l-1.383-0.935l0.579-0.851c0.046-0.069,0.028-0.161-0.041-0.208l-0.455-0.307
			c-0.068-0.047-0.16-0.029-0.207,0.04l-0.315,0.465l-1.382-0.935l1.363-2.008c0.044-0.068,0.028-0.16-0.04-0.208l-0.454-0.306
			c-0.068-0.045-0.161-0.028-0.208,0.04l-0.401,0.591l-1.382-0.933l1.496-2.206c0.046-0.068,0.028-0.161-0.042-0.207l-0.452-0.307
			c-0.069-0.046-0.162-0.028-0.207,0.041l-0.494,0.728l-1.355-1.066l-0.037,0.023c3.476-2.596,9.131-3.918,9.131-3.918
			c-1.047,1.813,0.282,2.64,0.864,2.795c-0.088,0.175-0.275,0.372-0.264,0.572l0.229,4.203c0.037,0.675,0.325,1.299,0.808,1.756
			c0.455,0.429,1.038,0.666,1.645,0.67c-0.061,0.063-0.095,0.15-0.09,0.241l0.175,3.209c0.056,1.007,0.89,1.783,1.858,1.73
			c0.972-0.054,1.715-0.916,1.66-1.921l-0.178-3.21c-0.004-0.091-0.048-0.174-0.117-0.23c0.606-0.071,1.16-0.369,1.564-0.845
			c0.432-0.507,0.646-1.157,0.61-1.833l-0.229-4.202c-0.012-0.199-0.071-0.39-0.183-0.557c0.562-0.215,0.928-0.792,0.896-1.417
			c-0.025-0.451-0.25-1.194-0.577-1.439c3.767,0.359,7.886,1.788,10.825,3.448c0,0-0.727,0.508-0.686,0.584l1.183,2.045
			l-6.729,3.885c-0.308,0.176-0.414,0.571-0.236,0.878c0.177,0.307,0.572,0.412,0.881,0.234l6.731-3.885l0.309,0.534l-5.747,3.316
			c-0.275,0.158-0.368,0.509-0.21,0.782c0.157,0.274,0.511,0.367,0.781,0.209l5.751-3.316l0.78,1.351l-4.212,2.43
			c-0.134,0.077-0.226,0.2-0.265,0.347c-0.035,0.12-0.024,0.245,0.019,0.357c-0.174-0.289-0.55-0.387-0.845-0.217
			c-0.297,0.172-0.4,0.553-0.225,0.85c0.169,0.297,0.552,0.399,0.849,0.228c0.272-0.158,0.335-0.578,0.221-0.86
			c0.163,0.263,0.55,0.439,0.819,0.285l0.87-0.502l0.228,0.394c0,0-0.769,0.455-0.784,0.482c0,0-0.689,1.671-0.64,1.68l0.813,0.226
			l-0.362,0.209c-0.216-0.067-0.859-0.224-1.421,0.085c-0.418,0.229-0.694,0.655-0.816,1.267c-0.329,1.614-0.3,2.863-0.28,3.218
			l-0.496,0.286c-0.072,0.044-0.101,0.139-0.059,0.215c0.047,0.076,0.141,0.101,0.219,0.058l0.493-0.286
			c0.298,0.191,3.416,1.714,4.44,1.291c0.545-0.331,0.729-0.957,0.781-1.181l0.471-0.273c0,0-0.227,1.083-0.177,1.085l1.639,0.074
			c0.008,0,0.015,0,0.023-0.001c0,0,0.004,0,0.004-0.001c0.012,0,0.019-0.003,0.025-0.005c0.002-0.001,0.004-0.001,0.006-0.002
			c0.012-0.003,0.018-0.007,0.024-0.012l0.725-0.417l0.229,0.395l-0.87,0.501c-0.256,0.148-0.235,0.73-0.235,0.73
			s-0.199-0.193-0.337-0.23c-0.163-0.041-0.328-0.02-0.475,0.063c-0.296,0.172-0.4,0.553-0.228,0.85s0.552,0.399,0.85,0.227
			c0.281-0.163,0.255-0.802,0.255-0.802s0.489,0.296,0.74,0.15l4.209-2.431l0.789,1.358L67.4,47.967
			c-0.272,0.158-0.368,0.51-0.208,0.782c0.155,0.275,0.505,0.369,0.783,0.21l5.745-3.316l0.311,0.534l-6.735,3.887
			c-0.31,0.177-0.414,0.57-0.236,0.877c0.179,0.305,0.572,0.41,0.879,0.235l6.733-3.887c0,0,1.248,1.994,1.368,2.047l1.034-0.85l0,0
			c0.027,0.505,0.046,0.952,0.046,1.465c0,4.905-1.288,9.418-3.547,13.407l-2.058-0.857c-0.054-0.023-0.114-0.006-0.15,0.041
			l-0.271,0.382l-0.342-0.248c-0.015-0.024-0.041-0.042-0.068-0.05l-4.774-3.45l1.601-3.108c0.029-0.055,0.013-0.125-0.038-0.161
			l-0.184-0.132l0.03-1.368c0-0.054-0.035-0.105-0.088-0.122c-0.054-0.018-0.109,0-0.144,0.046l-0.687,0.96l-2.068,2.904
			l-0.433,0.604l-0.674-0.484c-0.058-0.043-0.136-0.03-0.179,0.027L63.03,58.37l-1.274-0.92c-0.057-0.041-0.135-0.027-0.173,0.028
			l-0.859,1.201c-0.037,0.059-0.027,0.137,0.031,0.178l1.271,0.918l-0.02,0.029c-0.041,0.057-0.029,0.137,0.027,0.178l0.675,0.485
			l-0.433,0.604l-2.068,2.904l-0.684,0.961c-0.035,0.045-0.033,0.104,0,0.148c0.03,0.045,0.088,0.062,0.144,0.043l1.277-0.466
			l0.185,0.133c0.049,0.037,0.123,0.031,0.165-0.013l2.413-2.523l5.188,3.748l-0.29,0.438c-0.035,0.047,1.825,1.737,1.866,1.78
			c-4.53,5.056-11.269,8.424-18.433,9.049l0,0l-0.705-0.256l0.034-0.233c0.008-0.056-0.027-0.106-0.084-0.116l-0.235-0.036
			l0.034-0.233c0.011-0.055-0.026-0.107-0.084-0.115l-0.19-0.029l1.242-8.238l1.348,0.201c0.054,0.008,0.106-0.029,0.117-0.085
			l0.169-1.11c0.006-0.058-0.032-0.108-0.089-0.116l-1.348-0.203l0.056-0.372c0.007-0.059-0.027-0.107-0.084-0.118L52.125,66.2
			l0.044-0.275l0.092,0.013c0.054,0.009,0.104-0.027,0.114-0.084l0.059-0.373l1.087,0.164c0.029,0.004,0.056-0.004,0.077-0.021
			c0.054-0.042,1.271-1.028,1.571-1.72c0.018-0.037,0.012-0.076-0.014-0.107c-0.027-0.027-0.064-0.042-0.103-0.031
			c-0.014,0.002-1.357,0.323-1.932,0.308c-0.367-0.011-1.986-0.255-3.476-0.476l-0.66-0.1c-0.526-0.078-1.066-0.159-1.368-0.2
			c0.235,0.039-0.302-0.048-1.37-0.211l-0.66-0.098c-1.488-0.222-3.109-0.474-3.461-0.568c-0.553-0.151-1.744-0.854-1.756-0.86
			c-0.034-0.02-0.075-0.02-0.106,0c-0.032,0.021-0.051,0.059-0.046,0.097c0.081,0.749,0.957,2.053,0.993,2.106
			c0.017,0.022,0.041,0.037,0.07,0.043l1.084,0.164l-0.056,0.373c-0.008,0.055,0.031,0.106,0.084,0.114l0.123,0.019l-0.043,0.276
			l-0.121-0.019c-0.056-0.006-0.107,0.029-0.114,0.086l-0.059,0.373l-1.348-0.203c-0.056-0.008-0.107,0.029-0.116,0.086
			l-0.168,1.113c-0.008,0.057,0.029,0.105,0.083,0.115l1.364,0.203l-1.242,8.241l-0.192-0.029c-0.056-0.006-0.107,0.031-0.116,0.087
			l-0.036,0.231l-0.234-0.034c-0.055-0.007-0.107,0.028-0.116,0.084l-0.036,0.234l-0.786,0.08c-3.309-1.34-6.295-3.312-8.815-5.756
			c-0.015-0.016-0.03-0.03-0.046-0.045"/>
    </svg>
  </div>
  </div>
  <div class="block-logo__title">
    <h1>Two Travel The World</h1>
    <span>Follow our incredible adventure around the world</span>
  </div>
</div>
