<div class="gears-by-blog">
  <h2 class="gears-by-blog__title"><span>{{ 'Our gear'|t }}</span></h2>
  <div class="gears-by-blog__content">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
