{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}

<div class="pinterest_nohover">
  {{ content.field_image }}
</div>

<div class="country__header">
  <div class="country__text">
    <span>{{ content.field_continent }}</span>
    <h1>{{ name }}</h1>
  </div>
</div>

<ul class="country__list">
  <li>
    <a href="#guide">{{ 'Guide'|t }}</a>
  </li>
  <li>
    <a href="#climate">{{ 'Climate'|t }}</a>
  </li>
  <li>
    <a href="#cities">{{ 'Cities'|t }}</a>
  </li>
  <li>
    <a href="#experiences">{{ 'Experiences'|t }}</a>
  </li>
</ul>

<div class="country__segment country__segment--guide" id="guide">
  <h2><span>{{ 'Guide'|t }}</span></h2>
  {{ content.field_guide }}
</div>

<div class="country__segment country__segment--climate" id="climate">
  <h2><span>{{ 'Climate'|t }}</span></h2>
  {{ content.field_climate }}
</div>
