{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}

<header role="banner" id="luxbar" class="luxbar-fixedd">
  <input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox"/>
  <div class="luxbar-menu luxbar-menu-left luxbar-menu-material-cyan">
    {{ menus.menu_links(items, attributes, 0) }}
  </div>
</header>

{% macro menu_links(items, attributes, menu_level) %}
{% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class="luxbar-navigation">
        <li class="luxbar-header">
          {% if current_language == 'fr' %}
            <a href="/fr" class="luxbar-brand">TwoTravelTheWorld</a>
          {% else %}
            <a href="/" class="luxbar-brand">TwoTravelTheWorld</a>
          {% endif %}
          <label class="luxbar-hamburger luxbar-hamburger-spin" id="luxbar-hamburger" for="luxbar-checkbox"> 
            <span></span>
          </label>
        </li>
        {% for item in items %}
          <li class="luxbar-item">{{ link(item.title, item.url) }}</li>
        {% endfor %}
      </ul>
    {% else %}
    {% endif %}
  {% endif %}
{% endmacro %}
