@import '../../variables';

.block-social-links {
  clear: both;
  padding: 0;

  &__title {
    color: $color-green;
    position: relative;
    margin: auto;
    text-align: center;
    font-family: $alternative-font-family;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: .5em 0;

    @include breakpoint($bp-tablet) {
      font-size: 2rem;
      line-height: 3rem;
      padding: 1em 0;
    }
    
    @include breakpoint($bp-desktop) {
      font-size: 3rem;
      line-height: 4rem;
    }

    &:before {
      content: "";
      display: block;
      border-top: solid 1px $color-purple;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      z-index: 1;
    }

    span {
      background: $color-white;
      padding: 0 24px;
      position: relative;
      z-index: 5;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    
    li {
      @include span (15 of 15 last);
      margin-bottom: 10px;

      @include breakpoint($bp-tablet) {
        &:nth-child(1) {
          @include span (3 of 15);
        }
        &:nth-child(2) {
          @include span (3 of 15);
        }
        &:nth-child(3) {
          @include span (3 of 15);
        }
        &:nth-child(4) {
          @include span (3 of 15 last);
        }
        &:nth-child(5) {
          @include span (3 of 15 last);
        }
      }

      a::before {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        padding-right: 4px;
        position: relative;
        top: 0px;
        margin: 0px 0px 0px 0;
        width: 0px;
        left: 0;
      }

      a {
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-size: 30px;

        @include breakpoint($bp-desktop) {
          font-size: 33px;
        }

        &.icon-facebook {
          color: $color-facebook;
          a::before {
            content: "\f09a";
            font-size: 29px;
            color: $color-facebook;
          }
        }

        &.icon-twitter {
          color: $color-twitter;
          a::before {
            content: "\f09a";
            font-size: 29px;
            color: $color-twitter;
          }
        }

        &.icon-pinterest {
          color: $color-pinterest;
          a::before {
            content: "\f09a";
            font-size: 29px;
            color: $color-pinterest;
          }
        }

        &.icon-instagram {
          color: $color-instagram;
          a::before {
            content: "\f09a";
            font-size: 29px;
            color: $color-instagram;
          }
        }

        &.icon-youtube {
          color: $color-youtube;
          a::before {
            content: "\f09a";
            font-size: 29px;
            color: $color-youtube;
          }
        }
      }
    }
  }
}
