@import '../../variables';

.block-social-links-short {
  &__title {
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    font-family: $alternative-font-family;

    @include breakpoint($bp-tablet) {
      font-size: 1.5em;
    }

    @include breakpoint($bp-desktop) {
      font-size: 2em;
    }

    &:before {
      content: "";
      display: block;
      border-top: solid 1px $color-purple;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      z-index: 1;
    }

    span {
      background: $color-white;
      padding: 0 24px;
      position: relative;
      z-index: 5;
    }
  }

  &__content {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
      
      li {
        margin-bottom: 10px;
  
        a::before {
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          padding-right: 4px;
          position: relative;
          top: 0px;
          margin: 0px 0px 0px 0;
          width: 0px;
          left: 0;
        }
  
        a {
          margin: 0;
          padding: 0;
          text-decoration: none;
          font-size: 16px;
  
          @include breakpoint($bp-desktop) {
            font-size: 18px;
          }
  
          &.icon-facebook {
            color: $color-facebook;
            a::before {
              content: "\f09a";
              font-size: 29px;
              color: $color-facebook;
            }
          }
  
          &.icon-twitter {
            color: $color-twitter;
            a::before {
              content: "\f09a";
              font-size: 29px;
              color: $color-twitter;
            }
          }
  
          &.icon-pinterest {
            color: $color-pinterest;
            a::before {
              content: "\f09a";
              font-size: 29px;
              color: $color-pinterest;
            }
          }
  
          &.icon-instagram {
            color: $color-instagram;
            a::before {
              content: "\f09a";
              font-size: 29px;
              color: $color-instagram;
            }
          }
  
          &.icon-youtube {
            color: $color-youtube;
            a::before {
              content: "\f09a";
              font-size: 29px;
              color: $color-youtube;
            }
          }
        }
      }
    }
  }
}
