@import '../../variables';

// Blogs block homepage.
.block-blogs-homepage {
  clear: both;
  padding: 0;
  @include container(94%);
  @include breakpoint($bp-tablet) {
    @include container(92%);
  }
  @include breakpoint($bp-desktop) {
    @include container(90%);
  }

  &__title {
    color: $color-green;
    position: relative;
    margin: auto;
    text-align: center;
    font-family: $alternative-font-family;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: .5em 0;

    @include breakpoint($bp-tablet) {
      font-size: 2rem;
      line-height: 3rem;
      padding: 1em 0;
    }
    
    @include breakpoint($bp-desktop) {
      font-size: 3rem;
      line-height: 4rem;
    }

    &:before {
      content: "";
      display: block;
      border-top: solid 1px $color-purple;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      z-index: 1;
    }

    span {
      background: $color-white;
      padding: 0 24px;
      position: relative;
      z-index: 5;
    }
  }
}
