.block-latestpins {
  clear: both;
  position: relative;
  display: block;
  padding-top: 5px;

  &__title {
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    font-family: $alternative-font-family;  
    @include breakpoint($bp-tablet) {
      font-size: 1.5em;
    }  
    @include breakpoint($bp-desktop) {
      font-size: 2em;
    }
    
    &:before {
      content: "";
      display: block;
      border-top: solid 1px $color-purple;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      z-index: 1;
    }  
    span {
      background: $color-white;
      padding: 0 24px;
      position: relative;
      z-index: 5;
    }
  }

  &__content {
    div > span {
      width: 100%!important;
      max-width: 100%!important;
      border-radius: 0!important;
      box-shadow: none!important;
      padding-top: 20px;

      > span{
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          padding: 0!important;
        }
      }
    }
  }
}
