.block-logo {
  &__logo {
    display: none;
    @include breakpoint($bp-tablet) {
      display: block;
      @include span (4 of 15);
    }        
  }
  &__title {
    @include span (15 of 15 last);
    @include breakpoint($bp-tablet) {
      @include span (11 of 15 last);
    }        

    h1 {
      line-height: 4rem;
      font-weight: 700;
      font-family: $alternative-font-family;

      @include breakpoint($bp-tablet) {
        line-height: 3rem;
        font-size: 3rem;
      }        

      @include breakpoint($bp-desktop) {
        line-height: 4rem;
        font-size: 4rem;
      }        
    }
    span {
      color: $color-purple;
    }
  }
}
