.block-mainsections {
  clear: both;
  @include container(94%);
  @include breakpoint($bp-tablet) {
    @include container(92%);
  }
  @include breakpoint($bp-desktop) {
    @include container(90%);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    li {
      margin: 0;
      padding: 0;
      margin-bottom: 24px;

      &:nth-child(1) {
      }
      &:nth-child(2) {
      }
      &:nth-child(3) {
      }
      &:nth-child(4) {
      }
      &:nth-child(5) {
      }
      &:nth-child(6) {
      }

      @include breakpoint($bp-small) {
        &:nth-child(1) {
          @include span (7.5 of 15);
        }
        &:nth-child(2) {
          @include span (7.5 of 15 last);
        }
        &:nth-child(3) {
          @include span (7.5 of 15);
        }
        &:nth-child(4) {
          @include span (7.5 of 15 last);
        }
        &:nth-child(5) {
          @include span (7.5 of 15);
        }
        &:nth-child(6) {
          @include span (7.5 of 15 last);
        }
      }

      @include breakpoint($bp-tablet) {
        &:nth-child(1) {
          @include span (5 of 15);
        }
        &:nth-child(2) {
          @include span (5 of 15);
        }
        &:nth-child(3) {
          @include span (5 of 15 last);
        }
        &:nth-child(4) {
          @include span (5 of 15);
        }
        &:nth-child(5) {
          @include span (5 of 15);
        }
        &:nth-child(6) {
          @include span (5 of 15 last);
        }
      }
    }
  }
}