.block-about-us {
    &__title {
      font-size: 1em;
      letter-spacing: 1px;
      text-transform: uppercase;
      position: relative;
      line-height: 1rem;
      font-weight: 700;
      text-align: center;
      font-family: $alternative-font-family;
  
      @include breakpoint($bp-tablet) {
        font-size: 1.5em;
      }
  
      @include breakpoint($bp-desktop) {
        font-size: 2em;
      }
      
      &:before {
        content: "";
        display: block;
        border-top: solid 1px $color-purple;
        width: 100%;
        height: 1px;
        position: absolute;
        top: 50%;
        z-index: 1;
      }
  
      span {
        background: $color-white;
        padding: 0 24px;
        position: relative;
        z-index: 5;
      }
    }

    .block-about-us__profile {
      font-family: 'Open Sans', Arial, sans-serif;
      position: relative;
      float: left;
      margin: 10px 1%;
      width: 100%;
      color: #141414;
      text-align: left;
      line-height: 1.4em;
      font-size: 14px;
      box-shadow: none !important;
    }
    
    .block-about-us__profile * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    
    .block-about-us__profile .profile-image {
      width: 26%;
    }
    
    .block-about-us__profile .profile-image img {
      border-radius: 5px;
      max-width: 100%;
      vertical-align: top;
    }
    
    .block-about-us__profile .profile-image,
    .block-about-us__profile figcaption {
      float: right;
    }
    
    .block-about-us__profile figcaption {
      width: 70%;
      background-color: #65BDB7;
      color: #fff;
      padding: 25px;
      display: inline-block;
      margin-right: 4%;
      border-radius: 5px;
    }
    
    .block-about-us__profile figcaption:after {
      content: '';
      position: absolute;
      left: 70%;
      top: 30px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent #65BDB7;
    }
    
    .block-about-us__profile h3,
    .block-about-us__profile h4,
    .block-about-us__profile p {
      margin: 0 0 5px;
    }
    
    .block-about-us__profile h3 {
      font-weight: 600;
      font-size: 1.2em;
      font-family: 'Montserrat', Arial, sans-serif;
    }
    
    .block-about-us__profile h4 {
      color: #8c8c8c;
      font-weight: 400;
      letter-spacing: 2px;
    }
    
    .block-about-us__profile p {
      font-size: 0.9em;
      letter-spacing: 1px;
      opacity: 0.9;
    }
    
    .block-about-us__profile .icons {
      text-align: center;
      width: 100%;
    }
    
    .block-about-us__profile i {
      padding: 10px 2px;
      display: inline-block;
      font-size: 18px;
      font-weight: normal;
      color: #ffffff;
      opacity: 0.75;
    }
    
    .block-about-us__profile i:hover {
      opacity: 1;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
    }
  }
