// Import external styling.
@import '~normalize.css/normalize.css';
@import '~luxbar/scss/luxbar.scss';
@import '~susy/sass/susy';
@import '~breakpoint-sass/stylesheets/_breakpoint.scss';

$susy: (
  columns: 15,
  global-box-sizing: border-box,
  //debug: (image: show),
  gutters: 20px/40px,
  gutter-position: after
);

// Import general styling.
@import 'general', 'typography';

// Import media styling.
@import 'media/image';
@import 'media/video';

// Import layouts.
@import 'components/layout/precontent';
@import 'components/layout/featured-bottom';

// Import nodes.
@import 'components/nodes/article-teaser';
@import 'components/nodes/article-homepage';
@import 'components/nodes/node-diary-teaser';
@import 'components/nodes/kidsdoc-teaser';
@import 'components/nodes/photo-essays-teaser';

// Import blocks.
@import 'components/block/block-blogs-taxonomy';
@import 'components/block/block-logo';
@import 'components/block/block-mainsections';
@import 'components/block/block-blogs-homepage';
@import 'components/block/block-diaries-homepage';
@import 'components/block/blogs-by-country';
@import 'components/block/block-social-links';
@import 'components/block/block-social-links-short';
@import 'components/block/block-about-us';
@import 'components/block/block-latestpins';

// Import component styling.
@import 'components/world-map';
@import 'components/block-copyright';
@import 'components/pagination';
@import 'components/countries-table';

// Import views.
@import 'components/views/view-display-id-block_blogs_homepage';
@import 'components/views/view-display-id-block_diaries_homepage';
@import 'components/views/view-display-id-block_blogs_taxonomy';
@import 'components/views/view-display-id-block_6_8_section';
@import 'components/views/view-display-id-block_9_12_section';
@import 'components/views/view-display-id-block_countries_per_continent';
@import 'components/views/view-id-photo_essay';


@import 'components/views/blogs-by-country';
@import 'components/views/blogs-all';
@import 'components/views/diaries-all';
@import 'components/views/gears-by-blog';
@import 'components/views/block_blogs_by_blog';
@import 'components/views/block-cities-by-country';
@import 'components/views/page-gears';

// Blogs
@import 'blocks/relevant-blog';
@import 'blocks/mailchimp-signup';

// Pages.
@import 'components/pages/country';
@import 'components/pages/article';
@import 'components/pages/basic';
@import 'components/pages/diary';
@import 'components/pages/city';
@import 'components/pages/experience';
@import 'components/pages/kidsdoc';

// Gear teaser.
@import 'components/gear-teaser';

.luxbar-menu {
  .luxbar-hamburger {
    position: absolute;
    right: 0;
  }
  .is-active {
    color: $color-black;
  }
}

.luxbar-fixed {
    z-index: 100;
}


// MAIN
#main {
  //margin-top: 6em;
  //@include container(94%);
  //@include breakpoint($bp-tablet) {
  //  @include container(92%);
  //}
  //@include breakpoint($bp-desktop) {
  //  @include container(90%);
  //}

  &.one_sidebar {
    .layout-content {
      @include span (15 of 15);

      @include breakpoint($bp-tablet) {
        @include span (10 of 15);
      }
      @include breakpoint($bp-desktop) {
        @include span (10 of 15);
      }
    }
    .layout-sidebar-first {
      @include span (15 of 15);

      @include breakpoint($bp-tablet) {
        @include span (5 of 15 last);
      }
      @include breakpoint($bp-desktop) {
        @include span (5 of 15 last);
      }
    }
  }
}

.featured-bottom {
  background-color: $color-white;
  #block-copyright {
    @include container(94%);
  }
}

footer {
  color: $color-white;
  background-color: $color-green;

  ul,
  ul.menu,
  ul.links {
    padding: 0;
    margin: 0;
    list-style: none outside;
    a {
      color: $color-white;

      &:hover {
        color: $color-purple;
      }
  
      &.is-active {
        color: $color-purple;
      }
    }
  }

  .footer__top {
    @include container(94%);
    @include breakpoint($bp-tablet) {
      @include container(92%);
    }
    @include breakpoint($bp-desktop) {
      @include container(90%);
    }

    .footer__top-first {
      @include span (15 of 15);
      padding: 1em 0 0 0;

      @include breakpoint($bp-tablet) {
        @include span (5 of 15);
        padding: 3em 0;
      }
    }

    .footer__top-second {
      @include span (15 of 15);
      padding: 1em 0 0 0;

      @include breakpoint($bp-tablet) {
        @include span (5 of 15);
        padding: 3em 0;
      }
    }

    .footer__top-third {
      @include span (15 of 15);
      padding: 1em 0 0 0;

      @include breakpoint($bp-tablet) {
        @include span (5 of 15 last);
        padding: 3em 0;
      }
    }
  }

  .footer__bottom {
    color: $color-white;
    background-color: $color-green;
  }
}

strong {
  color: $color-green;
}

#block-prius-content {
  position: relative;
}



.secondary-navigation {
  @include container(100%);
  background-color: $color-purple;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: $color-white;

    li { 
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      border-left: 1px solid $color-white;

      a {
        color: $color-white;;
        font-size: 11px;
        text-decoration: none;
        line-height: 30px;
        display: table;
        position: relative;
        padding: 0 13px;
        text-transform: uppercase;

        &:hover {
          color: $color-green;
        }
      }

      &:first-child {
        border-left: none 0;
      }
    }
  }

  .secondary-navigation__quicklink {
    @include span (15 of 15);
    text-align: center;

    @include breakpoint($bp-desktop) {
      @include span (10 of 15);
      text-align: left;
    }
  }

  .secondary-navigation__social {
    @include span (15 of 15);
    text-align: center;
    border-top: 1px solid;

    @include breakpoint($bp-desktop) {
      @include span (5 of 15 last);
      text-align: right;
      border-top: 0 none;
    }

    a {
      i:hover {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        color: $color-green;
      }
      span {
        display: none;
      }
    }
  }
}

.drawing {
  position: relative;

  .drawing-illustration {
    position: absolute;
    top: 49%;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: all 3s ease;
    transition: all 3s ease;
  }

  .drawing-line {
    -webkit-transition: all 3s ease;
    transition: all 3s ease;
  }

  .show {
    opacity: 1;
  }

  .hide {
    opacity: 0;
  }
}
