@import './variables';

// Typographic styling.
*{
    font-size: 100%; /* 16px */
    line-height: 1.25rem; /* 20px */
}
 
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
table,
blockquote,
pre{
    margin-bottom: 1.25rem; /* 20px */
}
 
h1{
    font-size: 2rem; /* 32px */
    line-height: 2.5rem; /* 40px */
    color: $color-green;
}
 
h2{
    font-size: 1.625rem; /* 26px */
    line-height: 2.5rem; /* 40px */
    color: $color-green;
}
 
h3{
    font-size: 1.375rem; /* 22px */
    line-height: 2.5rem; /* 40px */
    color: $color-green;
}
 
h4{
    font-size: 1.125rem; /* 18px */
    line-height: 2.5rem; /* 40px */
    color: $color-green;
}
 
h5{
    font-size: 1rem; /* 16px */
    line-height: 1.25rem; /* 20px */
    color: $color-green;
}
 
h6{
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    color: $color-green;
}
 
blockquote{
    padding:  1.25rem 1.5rem 0 1.5rem; /* 20px */
}
 
blockquote p{
    margin-bottom: 0;
    padding-bottom: 1.25rem; /* 20px */
}
 
blockquote cite{
    display: block;
    margin-top: 1.25rem; /* 20px */
    text-align: right;
}
 
table{
    border-collapse: collapse;
}
 
th{
    line-height: 2.5rem; /* 40px */
    padding: 0 0.625rem; /* 0 10px */
}
td{
    padding: 0 0.625rem; /* 0 10px */
}
 
ol,
ul{
    margin-left: 0rem; /* 24px */
}
 
sub{
    font-size: 0.625em; /* 10px */
    vertical-align: bottom;
}
 
sup{
    font-size: 0.625em; /* 10px */
    vertical-align: top;
}
 
em,
var,
strong,
p code{
    line-height: 1rem; /* 16px */
}

.small{
  font-size: 12px;  
}

@include breakpoint($bp-tablet) {
  *{
    font-size: 100%; /* 16px */
    line-height: 1.25rem; /* 20px */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul,
  table,
  blockquote,
  pre{
      margin-bottom: 1.25rem; /* 20px */
  }
  
  h1{
      font-size: 2rem; /* 32px */
      line-height: 2.5rem; /* 40px */
  }
   
  h2{
      font-size: 1.625rem; /* 26px */
      line-height: 2.5rem; /* 40px */
  }
   
  h3{
      font-size: 1.375rem; /* 22px */
      line-height: 2.5rem; /* 40px */
  }
   
  h4{
      font-size: 1.125rem; /* 18px */
      line-height: 2.5rem; /* 40px */
  }
   
  h5{
      font-size: 1rem; /* 16px */
      line-height: 1.25rem; /* 20px */
  }
   
  h6{
      font-size: 0.875rem; /* 14px */
      line-height: 1.25rem; /* 20px */
  }
  
  blockquote{
      padding:  1.25rem 1.5rem 0 1.5rem; /* 20px */
  }
   
  blockquote p{
      margin-bottom: 0;
      padding-bottom: 1.25rem; /* 20px */
  }
   
  blockquote cite{
      display: block;
      margin-top: 1.25rem; /* 20px */
      text-align: right;
  }
  
  table{
      border-collapse: collapse;
  }
   
  th{
      line-height: 2.5rem; /* 40px */
      padding: 0 0.625rem; /* 0 10px */
  }
  td{
      padding: 0 0.625rem; /* 0 10px */
  }
  
  ol,
  ul{
      margin-left: 1rem;
  }
}

 @include breakpoint($bp-desktop) {
  ul{
      margin-left: 1.5rem;
  }
 }

