// Variables.

// Baseline: 100% = 1 em ~= 16px ~= 14pt
// Breakpoint.
$bp-small: 30em; // 480px/16
$bp-tablet: 48em; // 768px/16
$bp-desktop: 62em; // 992px/16
$bp-large: 76.5em; // 1224px/16
$bp-xlarge: 114em; // 1824px/16

// Colors.
$color-black: #000;
$color-white: #fff;

$color-charcoal: #475168;

$color-green: #006064;

$color-green-light: #65BDB7;

$color-purple: #B8A242; // rgb(194, 50, 89)

$color-grey: #f5f5f5;

$color-facebook: #3b5998;
$color-twitter: #009eed;
$color-pinterest: #cb2027;
$color-instagram: #e95950;
$color-youtube: #CD201F;

// Fonts.
$default-font-color: $color-charcoal;
$default-font-family: 'Lato', sans-serif;
$default-font-size: 16px;
$default-font-weight: 400;

$alternative-font-color: $color-charcoal;
//$alternative-font-family: 'Shadows Into Light', sans-serif;
$alternative-font-family: 'Amatic SC', sans-serif;
$kidsdoc-font-family: 'Rochester', cursive;
$alternative-font-size: 16px;
$alternative-font-weight: 400;

// Defaults.
$default-border-radius: 3px;

// Buttons.
$button-primary-background-color: #282828;
$button-secondary-background-color: #eee;
