.view-display-id-block_experience_per_country,
.view-display-id-block_cities_by_country {
  .views-row {
    text-align: center;
    margin: 2em 0 0 0;

    h3 {
      line-height: 1rem;
    }
      
    
    h4 {
      font-size: 1rem;
      line-height: 0;

      a {
        color: $color-purple;
      }
    }

    &:nth-child(1) {
      @include span (15 of 15 last);
    }

    @include breakpoint($bp-small) {
      &:nth-child(1n) {
        @include span (7.5 of 15);
      }
      &:nth-child(2n) {
        @include span (7.5 of 15 last);
      }
    }

    @include breakpoint($bp-tablet) {
      &:nth-child(1n) {
        @include span (5 of 15);
      }
      &:nth-child(2n) {
        @include span (5 of 15);
      }
      &:nth-child(3n) {
        @include span (5 of 15 last);
      }
    }

    @include breakpoint($bp-desktop) {
      &:nth-child(1n) {
        @include span (3.75 of 15);
      }
      &:nth-child(2n) {
        @include span (3.75 of 15);
      }
      &:nth-child(3n) {
        @include span (3.75 of 15);
      }
      &:nth-child(4n) {
        @include span (3.75 of 15 last);
      }
    }

    @include breakpoint($bp-large) {
      &:nth-child(1n) {
        @include span (3 of 15);
      }
      &:nth-child(2n) {
        @include span (3 of 15);
      }
      &:nth-child(3n) {
        @include span (3 of 15);
      }
      &:nth-child(4n) {
        @include span (3 of 15);
      }
      &:nth-child(5n) {
        @include span (3 of 15 last);
      }
    }
  }
}

.theme2 {
  position: relative;
  display: inline-block;
  max-width: 200px;
  width: 100%;
  font-size: 16px;
  margin: 0;
  box-shadow: none !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.theme2 *,
.theme2:before,
.theme2:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.theme2:before,
.theme2:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  border: 2px solid $color-purple;;
  border-color: transparent $color-purple;;
}

.theme2 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  border-radius: 50%;
  padding: 10px;
}

.theme2 figcaption {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  opacity: 0;
  border-radius: 50%;
}

.theme2 i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 4em;
  z-index: 1;
}

.theme2 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.theme2:hover figcaption,
.theme2.hover figcaption {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.theme2:hover:before,
.theme2.hover:before,
.theme2:hover:after,
.theme2.hover:after {
  border-width: 10px;
}

.theme2:hover:before,
.theme2.hover:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.theme2:hover:after,
.theme2.hover:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
