@import '../../variables';

.view-display-id-block_block_blogs_by_blog {
  .views-row {
    margin-bottom: 1em;
  }
}

.block_blogs_by_blog {
  @include container(100%);
  .content {
    @include span (10 of 15);
    margin-left: 0;
    
    a {
      font-size: 1.5rem;
      color: $color-green;
    }
  }
  figure {
    @include span (5 of 15 last);
  }
}
