@import '../../variables';

.blogs-all {
  clear: both;
  @include container(94%);
  margin-top: 2em;
  @include breakpoint($bp-tablet) {
    @include container(92%);
    margin-top: 3em;
  }
  @include breakpoint($bp-desktop) {
    @include container(90%);
    margin-top: 4em;
  }
  
  &__title {
    color: $color-green;
    position: relative;
    margin: auto;
    text-align: center;
    font-family: $alternative-font-family;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: .5em 0;

    @include breakpoint($bp-tablet) {
      font-size: 2rem;
      line-height: 3rem;
    }
    
    @include breakpoint($bp-desktop) {
      font-size: 3rem;
      line-height: 4rem;
    }

    &:before {
      content: "";
      display: block;
      border-top: solid 1px $color-purple;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      z-index: 1;
    }

    span {
      background: $color-white;
      padding: 0 24px;
      position: relative;
      z-index: 5;
    }
  }

  &__content {

    .views-row {
      @include span (15 of 15 last);

      @include breakpoint($bp-small) {
        &:nth-child(1n) {
          @include span (7.5 of 15);
        }
        &:nth-child(2n) {
          @include span (7.5 of 15 last);
        }
      }
  
      @include breakpoint($bp-desktop) {
        &:nth-child(1n) {
          @include span (5 of 15);
        }
        &:nth-child(2n) {
          @include span (5 of 15);
        }
        &:nth-child(3n) {
          @include span (5 of 15 last);
        }
      }
  
      @include breakpoint($bp-xlarge) {
        &:nth-child(1n) {
          @include span (3 of 15);
        }
        &:nth-child(2n) {
          @include span (3 of 15);
        }
        &:nth-child(3n) {
          @include span (3 of 15);
        }
        &:nth-child(4n) {
          @include span (3 of 15);
        }
        &:nth-child(5n) {
          @include span (3 of 15 last);
        }
      }
    }
  }

  .blog-blog {
    .blog-blog__figure {
      position: relative;
      display: inline-block;
      overflow: hidden;
      margin: 0;
      width: 100%;
      background-color: $color-white;
      text-align: left;
      font-size: 16px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

      * {
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

      figcaption {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px;
        background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }

      h2 {
        font-size: 2em;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 3px 0;
        color: $color-white;
      }

      a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      img {
        max-width: 100%;
        vertical-align: top;
      }

      &:hover img {
        -webkit-transform: scale(1.3) rotate(5deg);
        transform: scale(1.3) rotate(5deg);
      }
    }
    .blog-blog__content {
       padding: 10px 0 0;
       height: 100px;
    }
  }
}
