@import '../../variables';

.blogs-by-country {
  .views-row {
    @include span (15 of 15 last);
    @include breakpoint($bp-small) {
      &:nth-child(1n) {
        @include span (7.5 of 15);
      }
      &:nth-child(2n) {
        @include span (7.5 of 15 last);
      }
    }  
    @include breakpoint($bp-desktop) {
      &:nth-child(1n) {
        @include span (5 of 15);
      }
      &:nth-child(2n) {
        @include span (5 of 15);
      }
      &:nth-child(3n) {
        @include span (5 of 15 last);
      }
    }  
    @include breakpoint($bp-xlarge) {
      &:nth-child(1n) {
        @include span (3 of 15);
      }
      &:nth-child(2n) {
        @include span (3 of 15);
      }
      &:nth-child(3n) {
        @include span (3 of 15);
      }
      &:nth-child(4n) {
        @include span (3 of 15);
      }
      &:nth-child(5n) {
        @include span (3 of 15 last);
      }
    }
  }
}
