@import '../../variables';

.diaries-all {
  clear: both;
  @include container(94%);
  margin-top: 2em;
  @include breakpoint($bp-tablet) {
    @include container(92%);
    margin-top: 3em;
  }
  @include breakpoint($bp-desktop) {
    @include container(90%);
    margin-top: 4em;
  }
  
  &__title {
    color: $color-green;
    position: relative;
    margin: auto;
    text-align: center;
    font-family: $alternative-font-family;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: .5em 0;

    @include breakpoint($bp-tablet) {
      font-size: 2rem;
      line-height: 3rem;
    }
    
    @include breakpoint($bp-desktop) {
      font-size: 3rem;
      line-height: 4rem;
    }

    &:before {
      content: "";
      display: block;
      border-top: solid 1px $color-purple;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      z-index: 1;
    }

    span {
      background: $color-white;
      padding: 0 24px;
      position: relative;
      z-index: 5;
    }
  }

  &__content {

    .views-row {
      @include span (15 of 15 last);
      padding-bottom: 1em;

      @include breakpoint($bp-small) {
        &:nth-child(1n) {
          @include span (7.5 of 15);
        }
        &:nth-child(2n) {
          @include span (7.5 of 15 last);
        }
      }
  
      @include breakpoint($bp-tablet) {
        &:nth-child(1n) {
          @include span (5 of 15);
        }
        &:nth-child(2n) {
          @include span (5 of 15);
        }
        &:nth-child(3n) {
          @include span (5 of 15 last);
        }
      }

      @include breakpoint($bp-desktop) {
        &:nth-child(1n) {
          @include span (3.75 of 15);
        }
        &:nth-child(2n) {
          @include span (3.75 of 15);
        }
        &:nth-child(3n) {
          @include span (3.75 of 15);
        }
        &:nth-child(4n) {
          @include span (3.75 of 15 last);
        }
      }
  
      @include breakpoint($bp-large) {
        &:nth-child(1n) {
          @include span (3 of 15);
        }
        &:nth-child(2n) {
          @include span (3 of 15);
        }
        &:nth-child(3n) {
          @include span (3 of 15);
        }
        &:nth-child(4n) {
          @include span (3 of 15);
        }
        &:nth-child(5n) {
          @include span (3 of 15 last);
        }
      }
    }
  }
}
