@import '../../variables';

.gears-by-blog {
  &__title {
    color: $color-green;
    position: relative;
    margin: auto;
    text-align: center;
    font-family: $alternative-font-family;
    font-size: 1.5rem;
    line-height: 2rem;

    @include breakpoint($bp-tablet) {
      font-size: 2rem;
      line-height: 3rem;
    }
    
    @include breakpoint($bp-desktop) {
      font-size: 3rem;
      line-height: 4rem;
    }

    &:before {
      content: "";
      display: block;
      border-top: solid 1px $color-purple;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      z-index: 1;
    }

    span {
      background: $color-white;
      padding: 0 24px;
      position: relative;
      z-index: 5;
    }
  }

  .view-display-id-block_gears_by_blog {
    .views-row {
      &:nth-child(1n) {
        @include span (7.5 of 15);
      }
      &:nth-child(2n) {
        @include span (7.5 of 15 last);
      }
    }
  }
}

