@import '../../variables';

// Page view blog.
.view-display-id-page_gear {
  .views-row {
    @include span (7.5 of 15);

    @include breakpoint($bp-tablet) {
      @include span (5 of 15);
    }

    @include breakpoint($bp-desktop) {
      @include span (3 of 15);
    }

    margin: 1em 0 0 0;
  }
}
