.block-views-blockdestination-country-block-countries-per-continent {
  h2 {
    display: none;
  }
}

.view-display-id-block_countries_per_continent {
  clear: both;
  @include container(94%);
  margin-top: 2em;
  margin-bottom: 2em;
  @include breakpoint($bp-tablet) {
    @include container(92%);
    margin-top: 3em;
    margin-bottom: 3em;
  }
  @include breakpoint($bp-desktop) {
    @include container(90%);
    margin-top: 4em;
    margin-bottom: 4em;
  }

  .view-content {
    > div {
      @include span (15 of 15);
 
      @include breakpoint($bp-tablet) {
        @include span (3 of 15);
      }
  
      @include breakpoint($bp-desktop) {
        @include span (3 of 15);
  
        &:nth-child(5) {
          @include span (3 of 15 last);
        }
      }
    }
  }
}
