.view-id-photo_essay {
  clear: both;
  @include container(94%);
  margin-top: 2em;
  @include breakpoint($bp-tablet) {
    @include container(92%);
    margin-top: 3em;
  }
  @include breakpoint($bp-desktop) {
    @include container(90%);
    margin-top: 4em;
  }

  .views-row {
    &:nth-child(1) {
      @include span (15 of 15);
    }

    @include breakpoint($bp-tablet) {
      &:nth-child(1) {
        @include span (7.5 of 15);
      }
      &:nth-child(2) {
        @include span (7.5 of 15 last);
      }
    }
  }
}
