.view-display-id-block_9_12_section {
  clear: both;
  @include container(94%);
  margin-top: 2em;
  @include breakpoint($bp-tablet) {
    @include container(92%);
    margin-top: 3em;
  }
  @include breakpoint($bp-desktop) {
    @include container(90%);
    margin-top: 4em;
  }

  .views-row {
    &:nth-child(1) {
      margin-bottom: 1em;
    }
    &:nth-child(3) {
      display: none;
    }
    &:nth-child(4) {
      display: none;
    }
    &:nth-child(5) {
      display: none;
    }
  
      @include breakpoint($bp-small) {
       &:nth-child(1) {
          @include span (7.5 of 15);
          display: block;
          margin-bottom: 0;
        }
        &:nth-child(2) {
          @include span (7.5 of 15 last);
          display: block;
        }
      }
  
      @include breakpoint($bp-tablet) {
        &:nth-child(1) {
          @include span (5 of 15);
          display: block;
        }
        &:nth-child(2) {
          @include span (5 of 15);
          display: block;
        }
        &:nth-child(3) {
          @include span (5 of 15 last);
          display: block;
        }
      }
  
      @include breakpoint($bp-desktop) {
        &:nth-child(1) {
          @include span (5 of 15);
          display: block;
        }
        &:nth-child(2) {
          @include span (5 of 15);
          display: block;
        }
        &:nth-child(3) {
          @include span (5 of 15 last);
          display: block;
        }
      }
  
      @include breakpoint($bp-large) {
        &:nth-child(1) {
          @include span (3.75 of 15);
          display: block;
        }
        &:nth-child(2) {
          @include span (3.75 of 15);
          display: block;
        }
        &:nth-child(3) {
          @include span (3.75 of 15);
          display: block;
        }
        &:nth-child(4) {
          @include span (3.75 of 15 last);
          display: block;
        }
      }
  
      @include breakpoint($bp-xlarge) {
        &:nth-child(1n) {
          @include span (3 of 15);
          display: block;
        }
        &:nth-child(2n) {
          @include span (3 of 15);
          display: block;
        }
        &:nth-child(3n) {
          @include span (3 of 15);
          display: block;
        }
        &:nth-child(4n) {
          @include span (3 of 15);
          display: block;
        }
        &:nth-child(5n) {
          @include span (3 of 15 last);
          display: block;
        }
    }
  }
}
