.article-homepage {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  width: 100%;
  color: #000000;
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
  font-weight: 300;

  h3 {
    bottom: 0;
    letter-spacing: 2px;
    margin: 0;
    opacity: 0.7;
    padding: 20px 50px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    z-index: 3;
    background-color: $color-white;
    font-size: 1rem;
  
    @include breakpoint($bp-tablet) {
      font-size: 1.175rem;
    }
  
    @include breakpoint($bp-large) {
      font-size: 1.375rem;
    }
  }
}

.article-homepage *,
.article-homepage *:before,
.article-homepage *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.65s ease;
  transition: all 0.65s ease;
}

.article-homepage:after {
  -webkit-transition: all 0.65s ease;
  transition: all 0.65s ease;
  position: absolute;
  height: 0px;
  width: 0px;
  top: -530px;
  left: -530px;
  border-radius: 50%;
  border: 500px solid transparent;
  border-top-color: #000000;
  border-left-color: #000000;
  content: '';
  opacity: 0.8;
}

.article-homepage img {
  max-width: 100%;
  vertical-align: top;
}

.article-homepage i {
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 50%;
  color: #000000;
  display: block;
  z-index: 10;
  display: inline-block;
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.article-homepage i:before,
.article-homepage i:after {
  border-radius: 50%;
}

.article-homepage i:before {
  color: #ddd;
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  content: "\f178";
  padding: 0 7px;
}

.article-homepage i:after {
  position: absolute;
  top: -14px;
  bottom: -14px;
  left: -14px;
  right: -14px;
  border: 15px solid #ddd;
  border-top-color: $color-green;
  border-left-color: $color-green;
  content: '';
  z-index: -2;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
}

.article-homepage i:hover {
  background-color: $color-green;
  cursor: pointer;
}

.article-homepage:hover:after,
.article-homepage.hover:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.article-homepage:hover img,
.article-homepage.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.article-homepage:hover i:before,
.article-homepage.hover i:before {
  color: #2980b9;
}

.article-homepage:hover i:after,
.article-homepage.hover i:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.article-homepage:hover h3,
.article-homepage.hover h3 {
  opacity: 1;
  background-color: transparent;
  color: $color-white;
}

.article-homepage a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  cursor: pointer;
}
