.article-teaser {
    &__figure {
      position: relative;
      display: inline-block;
      overflow: hidden;
      margin: 0;
      width: 100%;
      background-color: $color-white;
      text-align: left;
      font-size: 16px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

      * {
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

      figcaption {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px;
        background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }

      h2 {
        font-size: 2em;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 3px 0;
        color: $color-white;
      }

      a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      img {
        max-width: 100%;
        vertical-align: top;
      }

      &:hover img {
        -webkit-transform: scale(1.3) rotate(5deg);
        transform: scale(1.3) rotate(5deg);
      }
    }
    &__content {
       padding: 10px 0 0;
       height: 100px;
    }
  }