.kidsdoc-teaser {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: center;
  font-size: 16px;
  background-color: $color-purple;
}

.kidsdoc-teaser * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.kidsdoc-teaser img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.kidsdoc-teaser figcaption {
  position: absolute;
  background-color: #fff;
  z-index: 1;
  top: 50%;
  left: 50%;
  padding: 5px 20px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  line-height: 1.1em;
  overflow: hidden;
}

.kidsdoc-teaser h3 {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 400;
  margin: 0;
  letter-spacing: 2px;
}

.kidsdoc-teaser h3.hover {
  color: #ffffff;
  font-weight: 800;
}

.kidsdoc-teaser a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.kidsdoc-teaser:hover > img,
.kidsdoc-teaser.hover > img {
  opacity: 0;
}

.kidsdoc-teaser:hover figcaption,
.kidsdoc-teaser.hover figcaption {
  background-color: #000000;
}

.kidsdoc-teaser:hover .title,
.kidsdoc-teaser.hover .title {
  -webkit-transform: translateY(-150%);
  transform: translateY(-150%);
}

.kidsdoc-teaser:hover .hover,
.kidsdoc-teaser.hover .hover {
  -webkit-transform: translateY(-150%);
  transform: translateY(-150%);
}
