.node-diary-teaser {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: $color-white;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  .node-diary-teaser--link {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }

  h3 {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-weight: 700;
    letter-spacing: -0.4px;
    margin-bottom: 5px;
    color: $color-white;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    line-height: 1.6em;
    margin-bottom: 0px;
  }

  img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
  }

  &:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  figcaption {
    padding: 25px 20px 25px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: $color-green;
      content: '';
      opacity: 0.8;
      z-index: -1;
    }
  }
  .date {
    background-color: $color-white;
    border-radius: 50%;
    color: $color-purple;
    font-size: 18px;
    font-weight: 700;
    min-height: 48px;
    min-width: 48px;
    padding: 10px 0;
    position: absolute;
    right: 15px;
    text-align: center;
    text-transform: uppercase;
    top: -25px;

    span {
      display: block;
      line-height: 14px;
    }

    .month {
      font-size: 11px;
    }
  }
}
