.photo-essays-teaser {
  background-color: #000;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 10px 7px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}
.photo-essays-teaser *,
.photo-essays-teaser *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.photo-essays-teaser img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}
.photo-essays-teaser figcaption {
  bottom: 30px;
  left: 0;
  position: absolute;
  z-index: 0;
}
.photo-essays-teaser figcaption:before {
  background-color: #ffffff;
  bottom: -5px;
  content: '';
  left: 0;
  position: absolute;
  right: 100%;
  top: -5px;
  z-index: -1;
}
.photo-essays-teaser h3 {
  background-color: $color-purple;
  color: #ffffff;
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
  z-index: 1;
}
.photo-essays-teaser a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.photo-essays-teaser:hover > img,
.photo-essays-teaser.hover > img {
  opacity: 0.1;
}
.photo-essays-teaser:hover figcaption:before,
.photo-essays-teaser.hover figcaption:before {
  right: -5px;
}